@import url(styleblog.css);
body {
    color: whitesmoke;
}
a {
    color: orangered;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 800;
}
p, li {
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.0em;
}
.img1{
    width: 100%;
    display: inline-block;
    min-height:fit-content;
    max-height: 720px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.subscribe {
    background-color: orange;
    color: whitesmoke;
    font-weight: 800;
    grid-area: sd;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: orange;
    hyphens: auto;
    letter-spacing: -0.5px;
    padding: 16px;
}