.container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd hd"
    "sd sd"
    "main main"
    "ft ft";
    
  }
@media(min-width:900px){
.container{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
        }
  }
body {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0px;
  background-color: gray;
  color: whitesmoke;
 }
.header{
      grid-area:hd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url(20210418_172634.jpg);
      background-size: cover;
      margin-bottom: 16px;
    }
#contentbox{
      grid-area: main;
      justify-content: space-evenly;
      align-items: center;
      padding-right: 5px;
      padding: 16px;
    }
.footer{
      grid-area: ft;
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      margin-top: 16px;
      background-color: orange; 
      align-items: center;
    }
a {
  color: orangered;
  text-decoration: none;
  margin-left: 16px;
  font-weight: 800;
}
p, li {
  color: whitesmoke;
  font-weight: 800;
  font-size: 1.0em;
}
a:hover{
  text-decoration: underline;
}
#head1 {
    display: flex;
    background: orange;
    border-radius: 15px;  
   }
#head2 {
    display: flex;
    background: grey; 
    padding: 16px;
    border-radius: 15px;
   }
#nestedGrid{
    display: grid;
    grid-template-columns:60% 40%;
    grid-template-rows:20% 70%;
    grid-gap: 5px;
  }
#contentHead {
    display: grid;
    justify-content: center;
    background-color: orange;
    border-radius: 15px;
    padding: 16px;
    height: 120px;
    }
.img1{
  width: 100%;
  display: block;
  height: 555px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}     
#contentImg {
    display: grid;
    background: orange;
    padding: 5px;
    height: 555px;
    border-radius: 15px;
     }
#contentTxt {
    display: grid;
    background: orange;
    font-size: 1.2em;
    height: 340px;
    border-radius: 15px;
    align-content: flex-start;
    padding: 16px;
    hyphens: auto;
    letter-spacing: -0.5px;
    text-align: left;
    
    
     }
.sidebar{
      grid-area: sd;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: orange;
      hyphens: auto;
      letter-spacing: -0.5px;
      padding: 16px;
      
    }
#side1 {
      display: grid;
      background: orange; 
     } 
.subscribe {
  background-color: orange;
  color: whitesmoke;
  font-weight: 800;
  grid-area: sd;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: orange;
  hyphens: auto;
  letter-spacing: -0.5px;
  padding: 16px;
}
#footer1 {
    display: grid;
    background: orange; 
   }
#footer2 {
    display: grid;
    background: orange; 
   }
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }  
.fa:hover {
      opacity: 0.7;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
.fa-youtube {
    background: #bb0000;
    color: white;
  }
.fa-instagram {
    background: #125688;
    color: white;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
  }